# Ignorar arquivos temporários do Python
__pycache__/
*.py[cod]

# Ignorar ambiente virtual
venv/
env/

# Ignorar arquivos de configuração do VS Code
.vscode/

# Ignorar arquivos do sistema
*.log
*.sqlite3

# Ignorar arquivos Excel temporários
*.xlsx
~$*.xlsx
